{% extends "layout.html" %} {% set title = 'About' %} {% set page = 'about' %} {% block content %}


<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">Our Team</h1>
    <h2 class="subtitle">We've built an amazing team of developers, marketers, designers and sales people.</h2>

    <div class="columns">
      <div class="column">
        <div class="-avatar">
          <img src="../img/team-1.jpg" alt="" class="image">
        </div>
        <div class="content has-text-centered">
          <h4><a href="#">Anna Thompson</a></h4>
          <p>Marketing</p>
        </div>
      </div>
      <div class="column">
        <div class="-avatar">
          <img src="../img/team-2.jpg" alt="">
        </div>
        <div class="content has-text-centered">
          <h4><a href="#">Betty Jefferson</a></h4>
          <p>Developer</p>
        </div>
      </div>
      <div class="column">
        <div class="-avatar">
          <img src="../img/team-3.jpg" alt="" class="image">
        </div>
        <div class="content has-text-centered">
          <h4><a href="#">Gerald Freeman</a></h4>
          <p>Sales</p>
        </div>
      </div>
    </div>

    <div class="columns">
        <div class="column">
          <div class="-avatar">
            <img src="../img/team-4.jpg" alt="" class="image">
          </div>
          <div class="content has-text-centered">
            <h4><a href="#">James Lopez</a></h4>
            <p>Developer</p>
          </div>
        </div>
        <div class="column">
          <div class="-avatar">
            <img src="../img/team-5.jpg" alt="" class="image">
          </div>
          <div class="content has-text-centered">
            <h4><a href="#">Robin Herrera</a></h4>
            <p>CEO</p>
          </div>
        </div>
        <div class="column">
          <div class="-avatar">
            <img src="../img/team-6.jpg" alt="" class="image">
          </div>
          <div class="content has-text-centered">
            <h4><a href="#">Tom Wilson</a></h4>
            <p>CTO</p>
          </div>
        </div>
      </div>
  </div>
</section>

{% endblock content %}
