{% extends "layout.html" %} {% set title = "Blog" %} {% set page = "blog" %} {% block content %}

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">Blog</h1>
    <h2 class="subtitle">Keep up with the latest news.</h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-2"></div>
      <div class="column">
        <div class="content is-clearfix">
          <h4><a href="/post">The history of marketing</a></h4>
          <span class="tag">Marketing</span>
          <span class="is-pulled-right is-size-7">August 12, 2016</span>
        </div>
        <hr>
        <div class="content">
          <p>The beginnings of digital marketing technology can be traced back to the 1980’s, when computers became sophisticated
            enough to store huge volumes of customer information. For a brief moment, no one knew what would happen in digital
            marketing, but by the 90’s it all became clear.</p>
          <a href="#" class="button is-info">Read More</a>
        </div>
      </div>
      <div class="column is-2"></div>
    </div>

    <br><br>

    <div class="columns">
      <div class="column is-2"></div>
      <div class="column">
        <div class="content is-clearfix">
          <h4><a href="/post">Definition of sales</a></h4>
          <span class="tag">Sales</span>
          <span class="is-pulled-right is-size-7">August 12, 2016</span>
        </div>
        <hr>
        <div class="content">
          <p>A person or organization expressing an interest in acquiring the offered item of value is referred to as a potential
            buyer, prospective customer or prospect. Buying and selling are understood to be two sides of the same “coin”
            or transaction. Both seller and buyer engage in a process of negotiation to consummate the exchange of values.
            The exchange, or selling, process has implied rules and identifiable stages.</p>
          <a href="#" class="button is-info">Read More</a>
        </div>
      </div>
      <div class="column is-2"></div>
    </div>

    <br><br>

    <div class="columns">
      <div class="column is-2"></div>
      <div class="column">
        <div class="content is-clearfix">
          <h4><a href="/post">Sales effectiveness</a></h4>
          <span class="tag">Sales</span>
          <span class="tag">Tips</span>
          <span class="is-pulled-right is-size-7">August 12, 2016</span>
        </div>
        <hr>
        <div class="content">
          <p>Sales effectiveness refers to the ability of a company’s sales professionals to “win” at each stage of the customer’s
            buying process, and ultimately earn the business on the right terms and in the right timeframe.</p>
          <a href="#" class="button is-info">Read More</a>
        </div>
      </div>
      <div class="column is-2"></div>
    </div>

  </div>
</section>

{% endblock %}
