{% extends "layout.html" %} {% set title = 'Pricing' %} {% set page = 'pricing' %} {% block content %}
<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <h1 class="title">Find the perfect plan for your business</h1>
      <h2 class="subtitle">All plans include our award winning sales optimization solution to track your sales in real time.</h2>
    </div>
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">Basic</div>
          </div>
          <div class="card-content">
            <ul class="has-text-centered">
              <li><strong>$25 per month</strong></li>
              <li>Up to 5 users</li>
              <li>Basic lead scoring</li>
              <li>CRM</li>
              <li>Basic reporting</li>
              <li>Sales map</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="#" class="card-footer-item">Get Started&nbsp;&nbsp;<span class="icon"><i class="fa fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">Pro</div>
          </div>
          <div class="card-content">
            <ul class="has-text-centered">
              <li><strong>$99 per month</strong></li>
              <li>Everything in Basic</li>
              <li>Up to 25 users</li>
              <li>Advanced lead scoring</li>
              <li>Pipeline management</li>
              <li>Advance Reporting</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="#" class="card-footer-item">Get Started&nbsp;&nbsp;<span class="icon"><i class="fa fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">Professional</div>
          </div>
          <div class="card-content">
            <ul class="has-text-centered">
              <li><strong>$299 per month</strong></li>
              <li>Everything in Basic and Pro</li>
              <li>Up to 100 users</li>
              <li>Campaign builder</li>
              <li>Machine learning</li>
              <li>Calendar</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="#" class="card-footer-item">Get Started&nbsp;&nbsp;<span class="icon"><i class="fa fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">Pricing FAQ</h1>
    <div class="columns">
      <div class="column">
        <div class="content">
          <h4>What types of payment do you accept?</h4>
          <p>Credit cards including MasterCard, Visa or American Express.</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h4>Do you offer pricing for nonprofit organizations?</h4>
          <p>Yes, send us a message and we'll set you up on our nonprofit pricing.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="content">
          <h4>Can I change my plan at a later time?</h4>
          <p>Yes, you can upgrade and downgrade your plan at anytime.</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h4>Questions?</h4>
          <p>Contact us for any further questions at <a href="#">john@business.com</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
